@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid _search">
    <div class="container _search" id="js-tabs">
        <h2>Find the flat of your dream!</h2>
        <form method="get" asp-action="CreateAnonymous" asp-controller="Requests" class="search__form">
            <div class="fields">
                <div class="field js-field">
                    <label for="">Search</label>
                    <input type="text">
                </div>
                <button class="search__btn"> </button>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="container _rent">
        <article class="rent__text">
            <h2 class="title">Top Apartments For Rent</h2>
            <div class="rent__column">
                <p>Miusae fitreasa ketyasae fertatwasa kertyuases miase</p>
                <p>Beciegast nveriti vitaesasety kertya aset aplicabrde ertyasne mokertya aset aplicabrde ertyasnemo</p>
            </div>
        </article>

        <div class="rent__items" id="js-features-slider">
            <div class="rent__item">
                <div class="rent__title" style="background-image: url('/i/item-1.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover">

                </div>
                <div class="rent__description">
                    <h3>Cottages</h3>
                    <p>Ntraesasa Layseames Kytsra</p>
                </div>
            </div>

            <div href="#" class="rent__item">
                <div class="rent__title" style="background-image: url('/i/item-2.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover">

                </div>
                <div class="rent__description">
                    <h3>Houses</h3>
                    <p>Olasays Nytfasas Vearaseras </p>
                </div>
            </div>

            <div href="#" class="rent__item">
                <div class="rent__title" style="background-image: url('/i/item-3.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover"></div>
                <div class="rent__description">
                    <h3>Apartments</h3>
                    <p>Vaetyasa Hytrtoiase Liugsas </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container _features">
        <article class="features__text">
            <h2 class="title">Our Features</h2>
            <div class="features__column">
                <p>Miusae fitreasa ketyasae fertatwasa kertyuases miase</p>
                <p>Beciegast nveriti vitaesasety kertya aset aplicabrde ertyasne mokertya aset aplicabrde ertyasnemo</p>
            </div>
        </article>

        <div class="features__row">
            <a class="features__elem" href="#">
                <span class="features__elem-name">Free account</span>
                <ul class="features__elem-description">
                    <li class="features__elem-cost">Free</li>
                    <li>Second</li>
                    <li>Third</li>
                </ul>
                <span class="features__elem-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at blandit purus.</span>
            </a>

            <a class="features__elem" href="#">
                <span class="features__elem-name">Premium account</span>
                <ul class="features__elem-description">
                    <li class="features__elem-cost">$10,8 / mon.</li>
                    <li>Second</li>
                    <li>Third</li>
                </ul>
                <span class="features__elem-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at blandit purus.</span>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <section class="container _announcement">
        <div class="announcement">
            <h3 class="announcement__title"> Place an announcement</h3>
            <div class="announcement__text"><p>Serertas erta mioras deloreas fertasetase nertas skeras ertyus</p></div>
            <form action="/Identity/Account/Register" method="post" class="announcement__form">
                @Html.AntiForgeryToken()
                <h2>Sign up</h2>
                <div class="fields">
                    <div asp-validation-summary="All"></div>
                    <div class="field js-field">
                        <label name="Email" for="">Email</label>
                        <input name="Email" />
                    </div>
                    <div class="field js-field">
                        <label name="Password" type="password" for="">Password</label>
                        <input name="Password" />
                    </div>
                    <div class="field js-field">
                        <label name="ConfirmPassword" type="password" for="">Confirm Password</label>
                        <input name="ConfirmPassword" />
                    </div>
                </div>
                <button type="submit" class="btn _default _registration">Create an account</button>
                <a href="/Identity/Account/Login"> Already have an account?</a>
            </form>
        </div>
        <section class="reviews">
            <h3 class="reviews__title">Testimonials</h3>
            <article class="review">
                <div class="review__avatar" style="background-image: url('/i/test.jpg');"></div>
                <div class="review__manager">
                    <p class="review__manager-name">Sam Barrow</p>
                    <p class="review__content">
                        Dasenim ad minim vcipses laboriosam noase quid eytase
                        eresa ea onsequatursuis autem vel eum iure reprehen sevoles
                        tesane velitese quam miatses nirtasytfasa.
                    </p>
                </div>
            </article>
        </section>
    </section>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
