@model FishResident.Models.EditModels.ResidencePhotoEditModel

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid _search-results">
    <div class="container _search-results">
        <div class="results" style="width: 100%">
            <div class="results__wrap">
                <h1>Now you create</h1>
            </div>
            <div class="results__filters" style="justify-content: center;">
                <div class="filters" style="width:100%;">
                    <div class="filters__type-flat" style="width:80%;">
                        <form asp-action="Create" asp-route-residenceId="@ViewBag.Residence.Id" enctype="multipart/form-data"  style="display:flex; flex-direction: column">
                            <div asp-validation-summary="ModelOnly"></div>
                            <h3 style="color: #4A4A4A">File</h3>
                            <div class="input-container">
                                <input type="file" asp-for="File" id="real-input">
                                <button type="button" class="browse-btn">
                                    Browse Files
                                </button>
                                <span class="file-info">Upload a file</span>
                            </div>
                            <button type="submit" class="btn _default _filters">Add photo</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
