@model FishResident.Models.EditModels.ResidenceEditModel
@using FishResident.Services
@inject FeatureService featureService

@{
    ViewData["Title"] = "Create";
    var featureTypes = featureService.GetFeatureTypes();
}

<div class="container-fluid _search-results">
    <div class="container _search-results">
        <div class="results" style="width: 100%">
            <div class="results__wrap">
                <h1>Now you create</h1>
            </div>
            <div class="results__filters">
                <div class="filters">
                    <div class="filters__type-flat">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="field js-field">
                                <label asp-for="Area">Area</label>
                                <input asp-for="Area" />
                            </div>
                            <div class="field js-field">
                                <label asp-for="Cost">Cost</label>
                                <input asp-for="Cost" />
                            </div>
                            <div class="field js-field">
                                <label asp-for="Address">Address</label>
                                <input asp-for="Address" />
                            </div>
                            <span>Residence Type</span>
                            <select asp-for="TypeId" class="field js-field" asp-items="@ViewBag.TypeId"></select>
                            @foreach (var featureType in featureTypes)
                            {
                                <span>@featureType.Name</span>
                                <select asp-for="Features[featureType.Id]" class="field js-field" asp-items="@(new SelectList(featureType.AllowedValues, "Value", "Value"))"></select>
                            }
                            <button type="submit" class="btn _default _filters">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
